
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #de24f2; 
    color: #333333;
    line-height: 1.6;
}

header {
    background-color: #6a1b9a; 
    color: #ffffff;
    text-align: center;
    padding: 2rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

section {
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #6a1b9a; /* Purple */
    border-bottom: 2px solid #6a1b9a;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #6a1b9a;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
}


@media (max-width: 600px) {
    header h1 {
        font-size: 2rem;
    }

    main {
        padding: 0 0.5rem;
    }

    section {
        padding: 1rem;
    }
}